
<div class="container">
    <table class="content-table">
       
        <thead>
           <tr>
            <th >Sno.</th>
            <th>Title</th>
            <th>Description</th>
            <th>Priority</th>
            <th>IsCompleted</th>
           </tr>
        </thead>
        <tbody>
            <tr>
                <td>1.</td>
                <td>dlgjdlsg</td>
                <td>ldsgjlsdg</td>
                <td>Medium</td>
                <td><input type="checkbox"></td>
            </tr>
        
        </tbody>
       
        
    </table>
</div>