h1{
    text-align: center;
    margin: 20px;
}
.container{
    height: 75vh;
    display: flex;
    /* border: 1px solid red; */
    margin-top: 40px;
   
   
}
.tasks{

    height: 50%;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    padding: 10px;
    margin: auto;
   
   
}

.container .tasks input,.container .tasks select{
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}
#save_btn{
    cursor: pointer;
    background-color: blueviolet;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 10px;
}


